header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    text-align: left;
}

h1 a:hover,
h1 a:active {
    color: var(--neutral);
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

header nav ul li {
    list-style: none;
}
