/* ---- global styles ---- */

header {
    grid-area: 1 / 1 / 1 / -1;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2C6899;
    height: 100px;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    width: fit-content;
    text-align: left;
    font-size: 42px;
    color: white;
}

nav {
    width: 475px;
    text-align: right;
    margin-right: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 150px 200px 50px 200px;
}

.nav li {
    display: inline;
}

.nav a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

.nav a:hover {
    background-color: rgba(40, 40, 40, .3);
    border-radius: 5px;
    transition: .2s ease-in;
}

.nav a:active {
    background-color: rgba(20, 20, 20, .5);
    color: #2480cc;
}

.nav i {
    padding: 5px;
}

h2 {
    font-size: 32px;
    background-color: #355168;
    border-radius: 10px;
    color: white;
    padding: 5px 5px 5px 15px;
}

p {
    font-size: 17px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    padding-left: 10px;
}

main {
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.apis {
    grid-area: 1 / 1 / 2 / -1;
}

.websites {
    grid-area: 2 / 1 / 4 / -1;
    margin-bottom: 50px;
}

hr {
    margin: 70px 50px;
}

figure {
    background-color: rgba(0, 0, 0, 0.068);
    padding: 5px;
    border-radius: 20px;
}

img {
    max-width: 100%;
    max-height: 70%;
    float: none;
    border-radius: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.warning {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 40px;
    margin: 0;
}
/* ---- Calculator Styles ---- */

.calc {
    background-color: lightgray;
    border-radius: 20px;
    margin: 40px;
    width: 400px;
    height: 600px;
    padding: 10px;
    border: 1px solid darkgray;
}

#output {
    text-align: right;
    font-size: 36px;
    font-family: monospace;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    height: 50px;
    background-color: rgb(80, 80, 80);
    color: white;
}

.buttons {
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 10px;
}

.calc button {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid black;
}

#clearAll, 
#in0 {
    width: 185px;
}

#clearAll {
    background-color: rgb(211, 119, 119);
}

#equals {
    height: 185px;
    background-color: rgb(202, 202, 202);
}

.calc button:hover,
    #equals:hover {
    background-color: rgb(119, 139, 207);
    cursor: pointer;
    transition: 100ms ease-in-out;
}

#clearAll:hover {
    background-color: rgb(109, 72, 72);
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.calc button:active,
    #equals:active {
    background-color: rgb(202, 202, 202);
    color: rgb(216, 216, 216);
}

#clearAll:active {
    background-color: rgb(202, 202, 202);
    color: rgb(216, 216, 216);
}

/* ---- Responsive CSS ---- */

@media screen and (max-width: 960px) {
    .nav span {
        display: none;
    }

    .nav i {
        font-size: 36px;
    }

    header h1 {
        width: 50%;
        margin: 0;
        padding: 0 0 0 10px;
    }

    nav {
        width: 40%;
        margin: 0;
        padding: 0;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav a {
        padding: 15px;
    }

    .grid {
        margin: 100px 0px;
    }
}

@media screen and (max-width: 610px) {
    nav {
        width: 70%;
    }

    header h1{
        width: 25%;
    }

    .calc {
        margin-left: 10px;
    }
}