body {
    background-color: #D5D5D5;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container {
    grid-template-rows: 150px repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-area: 1 / 1 / 1 / -1;
    position: absolute;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2C6899;
    height: 100px;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    width: 25%;
    text-align: left;
    font-size: 42px;
    color: white;
}

nav {
    width: 72%;
    text-align: right;
    margin-right: 10px;
}

.nav li {
    display: inline;
}

.nav a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

.nav a:hover {
    background-color: rgba(40, 40, 40, .3);
    border-radius: 5px;
    transition: .2s ease-in;
}

.nav a:active {
    background-color: rgba(20, 20, 20, .5);
    color: #2480cc;
}

.nav i {
    padding: 5px;
}


main {
    grid-area: 2 / 2 / 7 / -1;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

footer {
    grid-area: 7 / 1 / -1 / -1;
    padding-left: 50px;
    font-family: monospace;
    margin-top: 25px;
    background-color: #2C6899;
    position: relative;
    color: white;
}

.about {
    width: 65%;
}

figure {
    width: 20%;
    min-width: 250px;
    margin: 0 0 0 5%;
}

figure img {
    width: 100%;
    border-radius: 600px;
    margin: 0;
}

.skills {
    width: 65%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    
}

.skills h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.skills li i {
    font-size: 24px;
    padding: 5px;
}

h2 {
    font-size: 32px;
    background-color: #355168;
    border-radius: 10px;
    color: white;
    padding: 5px 5px 5px 15px;
}

p {
    font-size: 17px;
    padding: 10px;
}

h3 {
    font-size: 20px;
}


@media only screen and (max-width: 960px) {
    main {
        grid-area: 1 / 2 / 7 / -1;
        margin-top: 100px;
    }

    .about {
        width: 95%;
    }

    figure {
        padding: 0;
        margin: 0;
        width: 95%;
    }

    img {
        max-width: 300px;
        justify-self: center;
    }

    .skills {
        width: 95%;
    }

    .nav span {
        display: none;
    }

    .nav i {
        font-size: 30px;
    }

    h1 {
        width: 50%;
        margin: 0;
        padding: 0 0 0 10px;
    }

    nav {
        width: 45%;
        margin: 0;
        padding: 0;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav a {
        padding: 15px;
    }
}

