.grid {
    display: grid;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-area: 1 / 1 / 1 / -1;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    padding: 10px;
    font-size: 42px;
    color: white;
    transition-duration: .25s;
}

.nav {
    grid-area: 2 / 1 / 8 / 2;
    font-family: Arial;
    font-size: 18px;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    height: min-content;
    width: 75px;
    transition-duration: .2s;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition-duration: .2s;
}

.nav li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 28px;
    transition-duration: .25s;
    transition-property: display;
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: .2s;
}

.nav li a.active {
    color: rgb(195, 158, 255);
    background-color: rgba(187, 187, 187, 0.1);
    transition-duration: .2s;
}

.home {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


main {
    grid-area: 2 / 2 / 7 / -1;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

footer {
    grid-area: 7 / 1 / -1 / -1;
    padding-left: 50px;
    font-family: monospace;
    margin-top: 25px;
    background-color: rgb(236, 236, 236);
}

.about {
    width: 65%;
}

figure {
    width: 20%;
    min-width: 250px;
    margin: 0 0 0 5%;
}

figure img {
    width: 100%;
    border-radius: 600px;
    margin: 0;
}

.skills {
    width: 65%;
    margin: 0;
    padding: 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.skills li i {
    font-size: 24px;
    padding: 5px;
}

h2 {
    font-size: 32px;
    background-color: rgb(116, 116, 116);
    border-radius: 10px;
    color: white;
    padding: 5px;
}

p {
    font-size: 17px;
    padding: 10px;
}

h3 {
    font-size: 20px;
}

.bxs-right-arrow {
    color: lightgray;
    margin: 10px 45px 10px 5px;
    padding: 5px;
    font-size: 14px;
    transition-duration: .25s;
}

.bxs-right-arrow:hover {
    cursor: pointer;
}

span {
    display: none;
}

@media only screen and (max-width: 960px) {
    main {
        grid-area: 1 / 2 / 7 / -1;
        margin-top: 100px;
    }

    .nav {
        grid-area: 1 / 1 / 8 / 2;
        margin-top: 150px;
    }

    .about {
        width: 95%;
    }

    figure {
        padding: 0;
        margin: 0;
        width: 95%;
    }

    img {
        max-width: 300px;
        justify-self: center;
    }

    .skills {
        width: 95%;
    }
}

