body {
    background-image: url("./MountRainier.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
    color: hsl(0, 0%, 90%);
}

div {
    width: 750px;
    margin: 225px 0px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 0%, .65);
    border-radius: 10px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 0;
}

ul {

    padding: 5px 10px 5px 40px;
    width: 100%;
    list-style: square;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 0;
}

hr {
    width: 90%;
    border: 1px solid rgb(131, 131, 131);
}

p {
    font-size: 175px;
    position: absolute;
    top: 150px;
    right: 100px;
}